body
    background: rgb(248, 246, 238)

h1
    text-transform: uppercase
    color: #b6acac

.App
    display: flex



.view
    width: 100vh
    display: flex
    position: relative
    flex-direction: column
    justify-content: center
    align-items: center
