body
    background: rgb(248, 246, 238)

h1
    text-transform: uppercase
    color: #b6acac

.App
    display: flex



.view
    margin-left: 26vh
    padding: 0 40px
    width: 100%
    display: flex
    position: relative
    flex-direction: column
    align-items: center
